@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap')

background_color = rgb(36, 36, 36)
panel_color = rgb(46, 47, 48)
inner_panel_color = rgb(36, 36, 36)
highlight_color = rgb(245, 81, 0)
button_background_color = rgb(70, 72, 74)
font_color = white
button_font_color = white
alt_background_color = rgb(255, 166, 102)
alt_font_color = black
alt_border_color = black
success_color = rgb(56, 209, 64)
failure_color = rgb(255, 50, 36)
pending_color = rgb(255, 225, 89)
favorite_color = pending_color

main_font = 'Exo 2', sans-serif

base_font_size = 1rem
h1_font_size = 3rem
h2_font_size = 2rem
h3_font_size = 1.2rem
h4_font_size = 1rem
small_font_size = 0.7rem

icon_size = 1.5rem
border_radius = 1rem
border_thickness = 2px

highlight_border()
  border-radius: border_radius
  border: border_thickness solid highlight_color

alt_border()
  border-radius: border_radius
  border: border_thickness solid alt_border_color

dropdown()
  font-size: 1rem
  font-family: main_font
  color: alt_font_color
  background-color: alt_background_color
  border: 1px solid alt_border_color
  border-radius: 2px
  padding: 0.1rem
  box-sizing: border-box
  .fas
    color: alt_font_color

body
  font-family: main_font
  color: font_color
  font-size: base_font_size
  background-color: background_color
  margin: 0
  padding: 0

.panel
  background-color: panel_color

.item
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  gap: 1rem
  &>*
    flex-grow: 1
    flex-basis: 0

.fas
  font-size: icon_size
  flex-grow: 0
  color: highlight_color

.fa-fw 
  display: grid
  place-items: center
  height: 1.25em

h1
h2
h3
h4
  text-align: left
  margin: 0
  font-weight: 600

h1
  font-size: h1_font_size
  color: highlight_color

h2
  font-size: h2_font_size

h3
  font-size: h3_font_size

h4
  font-size: h4_font_size

ul
  margin: 0

select
  dropdown()

.button, input[type=button], input[type=submit], input[type=reset]
  cursor: pointer
  padding: 1rem
  background-color: button_background_color
  color: button_font_color
  flex-grow: 0
  highlight_border()

input[type=text]
  alt_border()
  background-color: alt_background_color
  padding: 0.5rem

.icon_button
  cursor: pointer
  padding: 0.5rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: stretch
  width: 3rem
  .label
    font-size: small_font_size
    display: flex
    align-items: center
    flex-grow: 1

pre
  background-color: alt_background_color
  color: alt_font_color
  margin: 0
  padding: 0.5rem
  scrollbar-width: thin
  scrollbar-color: highlight_color alt_background_color
  &::-webkit-scrollbar
    height: 0.5rem
  &::-webkit-scrollbar-track
    background: alt_background_color
  &::-webkit-scrollbar-thumb
    background-color: highlight_color

.section
  padding: 1rem

.scroll_container
  min-height: 0
  min-width: 0
  display: flex
  flex-direction: column
  gap: 1rem
  padding: 1rem
  .scroll
    background-color: inner_panel_color
    overflow-y: auto
    min-height: 0
    padding: 1rem
    display: flex
    flex-direction: column
    gap: 1rem
    flex: 1
    scrollbar-width: thin
    scrollbar-color: highlight_color alt_background_color
    &::-webkit-scrollbar
      width: 0.5rem
    &::-webkit-scrollbar-track
      background: alt_background_color
    &::-webkit-scrollbar-thumb
      background-color: highlight_color
    pre
      overflow-x: auto
    &.spaced
      gap: 3.5rem
    .scroll_item
      display: flex
      flex-direction: column
      gap: 0.7rem

.targets
  font-size: small_font_size

