@require('./parameters.styl')
@require('./functions.styl')

body
  font-family: main_font
  color: font_color
  font-size: base_font_size
  background-color: background_color
  margin: 0
  padding: 0

.panel
  background-color: panel_color

.item
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  gap: 1rem
  &>*
    flex-grow: 1
    flex-basis: 0

.fas
  font-size: icon_size
  flex-grow: 0
  color: highlight_color

.fa-fw 
  display: grid
  place-items: center
  height: 1.25em

h1
h2
h3
h4
  text-align: left
  margin: 0
  font-weight: 600

h1
  font-size: h1_font_size
  color: highlight_color

h2
  font-size: h2_font_size

h3
  font-size: h3_font_size

h4
  font-size: h4_font_size

ul
  margin: 0

select
  dropdown()

.button, input[type=button], input[type=submit], input[type=reset]
  cursor: pointer
  padding: 0.8rem
  background-color: button_background_color
  color: button_font_color
  flex: none
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  min-width: 5rem
  highlight_border()
  &:hover
    background-color: lighten(button_background_color, 5%)

input[type=text]
  alt_border()
  background-color: alt_background_color
  padding: 0.5rem

.icon_button
  cursor: pointer
  padding: 0.5rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: stretch
  width: 3rem
  .label
    font-size: small_font_size
    display: flex
    align-items: center
    flex-grow: 1
  &:hover
    .fas
      color: lighten(highlight_color, 20%)

pre
  background-color: alt_background_color
  color: alt_font_color
  margin: 0
  padding: 0.5rem
  scrollbars()

.section
  display: flex
  flex-direction: column
  gap: 0.7rem
  overflow-y: auto
  scrollbars()

.scroll_container
  min-height: 0
  min-width: 0
  display: flex
  flex-direction: column
  gap: 1rem
  padding: 1rem
  .scroll
    background-color: inner_panel_color
    overflow-y: auto
    min-height: 0
    padding: 1rem
    display: flex
    flex-direction: column
    gap: 1rem
    flex: 1
    scrollbars()
    pre
      overflow-x: auto
    &.spaced
      gap: 3.5rem
    .scroll_item
      display: flex
      flex-direction: column
      &.spaced
        gap: 0.7rem

.targets
  font-size: small_font_size

.link
  color: alt_background_color
  font-weight: 600
  cursor: pointer
  display: inline
  &:hover
    color: highlight_color

