highlight_border()
  border-radius: border_radius
  border: border_thickness solid highlight_color

disabled_border()
  border-radius: border_radius
  border: border_thickness solid disabled_color

hover_border()
  border-radius: border_radius
  border: border_thickness solid alt_background_color

alt_border()
  border-radius: alt_border_radius
  border: border_thickness solid alt_border_color

dropdown()
  font-size: 1rem
  font-family: main_font
  color: alt_font_color
  background-color: alt_background_color
  alt_border()
  padding: 0.1rem
  box-sizing: border-box
  .fas
    color: alt_font_color
  &:disabled, &.disabled
    opacity: 0.7

scrollbars()
  scrollbar-width: thin
  scrollbar-color: highlight_color alt_background_color
  &::-webkit-scrollbar
    width: 0.5rem
    height: 0.5rem
  &::-webkit-scrollbar-track
    background: alt_background_color
  &::-webkit-scrollbar-thumb
    background-color: highlight_color