h1
h2
h3
h4
  text-align: left
  margin: 0
  font-weight: 600

h1
  font-size: h1_font_size
  color: highlight_color

h2
  font-size: h2_font_size

h3
  font-size: h3_font_size

h4
  font-size: h4_font_size