select
  dropdown()

.button, input[type=button], input[type=submit], input[type=reset]
  cursor: pointer
  padding: 0.4rem 0.8rem
  background-color: button_background_color
  color: button_font_color
  font-family: main_font
  font-size: base_font_size
  font-weight: normal
  flex: none
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  max-width: max-content
  min-width: 5rem
  highlight_border()
  .fa-fw
    font-size: 1.1rem
    height: auto
  &:hover
    background-color: button_hover_color
    hover_border()
  &.disabled
    background-color: disabled_background_color
    color: disabled_color
    cursor: auto
    disabled_border()

input[type=text], input[type=password]
  alt_border()
  background-color: alt_background_color
  padding: 0.5rem
  flex: 1

.icon_button
  cursor: pointer
  padding: 0.5rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: stretch
  width: 3rem
  .label
    font-size: small_font_size
    display: flex
    align-items: center
    flex-grow: 1
  &:hover
    .fas
    .far
      color: alt_background_color

.foldout
  cursor: pointer
  &:hover
    color: alt_background_color
  &.disabled
    color: disabled_color
    cursor: auto

.auto_foldout
  display: none
  & ~ .foldout_child
    display: none
  & ~ * > label
    display: flex
    justify-content: space-between
    align-items: center
    cursor: pointer 
    .item
      flex-grow: 1 
    &:after
      font-size: icon_size
      content: '\f054'
      font-family: 'Font Awesome 5 Free'
      font-weight: 900
      color: highlight_color
      margin-left: 0.5rem
  &:checked 
    & ~ .foldout_child
      display: flex
      flex-direction: column
      gap: 0.7rem
      margin-bottom: 2rem
    & ~ * > label:after
      content: '\f078'

.play
  align-self: flex-start
  display: flex
  gap: 1rem
  align-items: center

.history_control
  font-size: base_font_size
  cursor: pointer
  &:hover
    color: alt_background_color
    
.favorited
  color: favorite_color
  &:hover
    color: favorite_hover_color

.dialog_buttons
  display: flex
  justify-content: center
  gap: 1rem