@require('../base.styl')
@require('../container.styl')

#container
  display: flex
  flex-direction: column
  gap: 3rem

.search
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  gap: 2rem
  .text_search
    display: flex
    align-items: center
    gap: 1rem
  .controls
    display: flex
    justify-content: flex-end
    align-items: flex-end
    margin-left: auto

.logs
  display: flex
  flex-direction: column
  gap: 2rem
  .log_details
    display: flex
    flex-wrap: wrap
    gap: 0 2rem