@require('../common/base.styl')

#container
  display: grid
  grid-template: auto 1fr / @css{min(400px, 50%)} 1fr @css{min(500px, 50%)}
  height: 100%
  @require('../main_interface/top.styl')
  #graph_container
    grid-column: 1 / 4
    grid-row: 2
    min-height: 0
    .vis-network
      outline: none
  @require('../main_interface/review.styl')
  #loading
    display: grid
    place-items: center
    font-size: 5vw
  @require('../main_interface/left_panel.styl')
  @require('../main_interface/selection.styl')

#tooltip
  display: flex
  flex-direction: column
  background-color: button_background_color
  border: border_thickness solid black
  border-radius: border_radius
  padding: 1rem
  position: absolute
  z-index: 100
  transform: translate(-50%, 0)

.panel_title
  padding: 0 1rem

.success
  color: success_color

.failure
  color: failure_color

.pending
  color: pending_color