@require('../common/base.styl')

#container
  display: flex
  height: 100%
  width: 100%
  justify-content: center


.column
  background-color: panel_color
  width: 50%
  max-width: 600px
  margin: 1rem 1rem 0 1rem
  display: flex
  flex-direction: column
  @require('../common/actions.styl')

h2
  margin: 1rem