table {
  border-collapse: collapse;
}

td, th {
  padding: 0.5rem;
  min-width: 10rem;
}

table, th, td {
  border: 2px solid white;
}

td .button {
  margin: 0.2rem auto;
}

.table_cell {
  display: flex;
}

.input_container {
  display: grid;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
  margin: 0.5rem 0;
}

#error {
  color: rgb(255, 50, 36);
}

.buttons {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}