@require 'common/base.styl'
@require 'story'

#story-tree
  display: grid
  grid-template-columns: 260px auto 300px
  width: fit-content
  .graph
    width: 1280px
    height: 720px
    position: relative
    border: solid 2px button_hover_color
    box-sizing: content-box
  #menu-bar
    width: 1284px
    display: flex
    justify-content: center
    gap: 10px
    padding: 10px
  #module-menu
    z-index: 100
    display: flex
    padding: 10px
  #sidebar
    padding: 10px
    h2
      font-size: 1.5rem
    .sidebar-columns
      display: grid
      grid-template-columns: 1fr 1fr
      li
        margin: 10px
  #info
    padding: 10px
    gap: 10px
    .parameter
      display: flex
      gap: 10px

