@require 'common/base.styl'

#story-tree
  display: grid
  grid-template-columns: 300px auto 300px
  width: fit-content
  .graph
    width: 1280px
    height: 720px
    position: relative
    border: solid 2px button_hover_color
  #editor
  #module-menu
    grid-row: 1
    grid-column: 2
  #module-menu
    z-index: 100
    display: flex
    padding: 10px
  #sidebar
    padding: 10px
    h2
      font-size: 1.5rem
    .sidebar-columns
      display: grid
      grid-template-columns: 1fr 1fr

.column
  display: flex
  flex-direction: column
  align-items: center

.node
  cursor: pointer
  font-size: 12px
  box-sizing: border-box
  padding: 5px
  background-color: button_background_color
  border: solid 2px highlight_color
  user-select: none
  display: grid
  gap: 2px 0
  grid-template: 1fr 1fr / 1fr auto
  width: 80px
  height: 80px
  border-radius: 40px
  z-index: 10
  place-items: center
  .node-label
    grid-row: 1 / 3
    display: flex
    align-items: center
    text-align: center
  .node-button
    width: 20px
    height: 20px
    border-radius: 10px
    display: grid
    place-items: center
    font-size: 10px
    background-color: highlight_color
    cursor: pointer
    text-align: center
    padding: 2px
    box-sizing: border-box

ul
  margin: 0
  padding: 0

li
  margin: 10px
  padding: 0