@require 'common/base.styl'
@require 'story'

.label
  font-size: 12px
  color: disabled_color

textarea
  resize: vertical

ul
  margin: 0
  padding: 0

li
  margin: 0
  padding: 0

.mini-button
  display: grid
  place-items: center
  font-size: 15px
  padding: 0 5px
  background-color: highlight_color
  min-width: 20px
  height: 20px
  flex: none
  cursor: pointer
  margin-left: auto

.column.spaced
  gap: 20px

.result-data-selector
  display: flex
  flex-direction: column
  gap: 5px
  flex-basis: 275px

.dividers
  display: flex
  flex-direction: column
  gap: 10px
  & > * 
    border-bottom: 2px solid button_background_color
    padding-bottom: 10px
    padding-left: 15px
  & > *:last-child
    border-bottom: none
  & > *:first-child
    padding-left: 0
  &.no-title
    & > *:first-child
      padding-left: 15px
      padding-top: 10px
      border-top: 2px solid button_background_color

.dropdown-parent
  position: relative

.row
  display: flex
  align-items: center
  gap: 10px
  &.top-aligned
    align-items: flex-start

.dropdown
  background-color: alt_background_color
  color: alt_font_color
  position: absolute
  display: flex
  flex-direction: column
  padding: 10px
  right: 20px
  top: 0
  z-index: 10
  .option
    cursor: pointer

.error
  color: failure_color

.warning
  color: pending_color

#main-container
  display: flex
  min-height: 100vh
  border: inner_panel_color solid 10px
  #modules
    display: flex
    flex-direction: column
    align-items: center
    padding: 10px
    gap: 10px
    flex: 1
    max-width: 300px
    .button
      width: 80%
      max-width: unset
    .module
      display: flex
      align-items: center
      align-self: stretch
      justify-content: space-between
      .module-link
        cursor: pointer
  .content
    flex: 1
    background-color: panel_color
    display: flex
    flex-direction: column
  .menu-bar
    display: flex
    justify-content: space-between
    gap: 10px
    padding: 10px 30px
    border-bottom: inner_panel_color solid 10px
  .tabs
    display: flex
    .button:not(:first-child)
      border-top-left-radius: 0
      border-bottom-left-radius: 0
    .button:not(:last-child)
      border-top-right-radius: 0
      border-bottom-right-radius: 0
  textarea.editor
    width: 100%
    height: 100%
  .CodeMirror
    width: 100%
    height: auto
  #story-tree
    display: grid
    grid-template-columns: 1fr auto 1.4fr
    //width: fit-content
    .menu-bar
      border-bottom: none
      padding: 10px
    .graph
      width: 1280px
      height: 720px
      position: relative
      border: solid 2px button_hover_color
      background-color: background_color
      box-sizing: content-box
    #module-menu
      z-index: 100
      display: flex
      padding: 10px
    #sidebar
      padding: 10px
      .sidebar-columns
        display: grid
        grid-template-columns: 1fr 1fr
        li
          margin: 10px
    #central-column
      display: flex
      flex-direction: column
      background-color: panel_color
    #info
      padding: 10px
      gap: 10px
      .parameter
        display: flex
        gap: 10px
  #action-editor
    display: grid
    grid-template-columns: 350px 1fr
    padding: 20px
    gap: 20px
  #config-editor, #module-editor
    display: flex
    padding: 20px
    gap: 20px
  .wizard
    width: 100%
    max-width: 85rem
    align-self: center
    padding: 20px
    display: flex
    flex-direction: column
    align-items: stretch
    gap: 15px
    h3
      align-self: center
    .nav-buttons
      display: flex
      align-items: center
      justify-content: space-between

