@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  background-color: rgb(39, 40, 41);
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  color: rgb(19, 57, 128);
  text-decoration: none;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.3rem 0;
}

.subtitle {
  font-weight: bold;
  margin: 0.6rem 0.6rem 0.6rem 0;
  font-size: 1rem;
}

.subsubtitle {
  font-weight: bold;
  margin: 0.6rem 0.6rem 0.6rem 0;
  font-size: 0.92rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item > * {
  flex-grow: 1;
  flex-basis: 0;
}

.item .button {
  min-width: 6rem;
  flex: none;
  font-size: 0.8rem;
  margin: 0.2rem;
}

.followup {
  display: flex;
  margin: 0.2rem 0;
  flex: 0;
}

.followup .foldout {
  flex: none;
  align-self: center;
}

.followup .button {
  margin: 0 0 0 0.4rem;
}

.result, .result_time {
  margin: 0.3rem 0 0.3rem 0.5rem;
}

.result_time {
  display: flex;
  margin-bottom: 1rem;
}

.result_time .time {
  white-space: pre;
}

.item .text {
  margin-right: 0.4rem;
}

.item .text:last-child {
  margin: 0;
}

.targets {
  margin-top: 0.4rem;
  font-size: 0.8rem;
}

.section {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 0.5rem;
}

.buttons {
  display: flex;
  align-items: center;
}

input[type=button], input[type=submit], input[type=reset], .button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  border: 2px solid orangered;
  text-align: center;
  padding: 0.5rem;
  margin: 0.2rem 0 0.2rem 1rem;
}

.foldout {
  cursor: pointer;
}

.button.disabled, .foldout.disabled {
  background-color: lightgray;
}

.loading {
  background-color: gray;
  cursor: auto;
}

.selection_panel {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.scroll_container {
  min-height: 0;
}

.scroll {
  overflow-y: auto;
  background-color: coral;
  min-height: 6rem;
}

.scroll_item {
  margin: 0.5rem;
}

.result_header {
  font-weight: bold;
}

.fas {
  font-size: 1.5rem;
  flex-grow: 0;
}

.fa-fw {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25em;
}