body {
  display: flex;
  justify-content: center;
}

#container {
  background-color: rgb(255, 171, 140);
  width: min(1500px, 100vw);
  padding: 2rem;
}

#md_container {
  background-color: coral;
  padding: 2rem;
  margin: 2rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

pre {
  padding: 1rem;
}