.log {
  margin: 2rem 0;
}

.log_details {
  display: flex;
  align-items: flex-start;
  margin: 1rem;
}

.log_details > * {
  margin-right: 1rem;
}

.search {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.controls {
  display: flex;
  margin-left: auto;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.filtering {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.text_search {
  display: flex;
  margin-right: 2rem;
}

.text_search label {
  margin-right: 1rem;
}

.parameters {
  flex-direction: column;
}