@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600;700&display=swap");
body {
  font-family: 'Exo 2', sans-serif;
  color: #fff;
  font-size: 1rem;
  background-color: #242424;
  margin: 0;
  padding: 0;
}
.panel {
  background-color: #2e2f30;
}
.item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.item>* {
  flex-grow: 1;
  flex-basis: 0;
}
.fas {
  font-size: 1.5rem;
  flex-grow: 0;
  color: #f55100;
}
.fa-fw {
  display: grid;
  place-items: center;
  height: 1.25em;
}
ul {
  margin: 0;
}
pre {
  background-color: #ffa666;
  color: #000;
  margin: 0;
  padding: 0.5rem;
  scrollbar-width: thin;
  scrollbar-color: #f55100 #ffa666;
}
pre::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
pre::-webkit-scrollbar-track {
  background: #ffa666;
}
pre::-webkit-scrollbar-thumb {
  background-color: #f55100;
}
pre code {
  padding: 0;
  font-size: unset;
}
code {
  font-size: 1.2rem;
}
.targets {
  font-size: 0.7rem;
}
a,
.link {
  color: #ffa666;
  font-weight: 600;
  cursor: pointer;
  display: inline;
  text-decoration: none;
}
a:hover,
.link:hover {
  color: #f55100;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #f55100 #ffa666;
}
.section::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.section::-webkit-scrollbar-track {
  background: #ffa666;
}
.section::-webkit-scrollbar-thumb {
  background-color: #f55100;
}
h1,
h2,
h3,
h4 {
  text-align: left;
  margin: 0;
  font-weight: 600;
}
h1 {
  font-size: 3rem;
  color: #f55100;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.2rem;
}
h4 {
  font-size: 1rem;
}
select {
  font-size: 1rem;
  font-family: 'Exo 2', sans-serif;
  color: #000;
  background-color: #ffa666;
  border-radius: 0.4rem;
  border: 2px solid #e86100;
  padding: 0.1rem;
  box-sizing: border-box;
}
select .fas {
  color: #000;
}
select:disabled,
select.disabled {
  opacity: 0.7;
}
.button,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
  padding: 0.8rem;
  background-color: #3c3d3d;
  color: #fff;
  font-family: 'Exo 2', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  flex: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: max-content;
  min-width: 5rem;
  border-radius: 1rem;
  border: 2px solid #f55100;
}
.button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  background-color: #505151;
  border-radius: 1rem;
  border: 2px solid #ffa666;
}
.button.disabled,
input[type=button].disabled,
input[type=submit].disabled,
input[type=reset].disabled {
  background-color: #3c3d3d;
  color: #949494;
  cursor: auto;
  border-radius: 1rem;
  border: 2px solid #949494;
}
input[type=text],
input[type=password] {
  border-radius: 0.4rem;
  border: 2px solid #e86100;
  background-color: #ffa666;
  padding: 0.5rem;
  flex: 1;
}
.icon_button {
  cursor: pointer;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  width: 3rem;
}
.icon_button .label {
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.icon_button:hover .fas {
  color: #ffa666;
}
.foldout {
  cursor: pointer;
}
.foldout:hover {
  color: #ffa666;
}
.foldout.disabled {
  color: #949494;
  cursor: auto;
}
.scroll_container {
  min-height: 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.scroll_container .scroll {
  background-color: #242424;
  overflow-y: auto;
  min-height: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  scrollbar-width: thin;
  scrollbar-color: #f55100 #ffa666;
}
.scroll_container .scroll::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.scroll_container .scroll::-webkit-scrollbar-track {
  background: #ffa666;
}
.scroll_container .scroll::-webkit-scrollbar-thumb {
  background-color: #f55100;
}
.scroll_container .scroll pre {
  overflow-x: auto;
}
.scroll_container .scroll.spaced {
  gap: 3.5rem;
}
.scroll_container .scroll .scroll_item {
  display: flex;
  flex-direction: column;
}
.scroll_container .scroll .scroll_item.spaced {
  gap: 0.7rem;
}
#container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.column {
  background-color: #2e2f30;
  width: 50%;
  max-width: 600px;
  margin: 1rem 1rem 0 1rem;
  display: flex;
  flex-direction: column;
}
.column .results {
  min-width: 0;
}
.column .results .tooltip {
  transform: translate(0, var(--actions-scroll-height, 0));
  right: 2rem;
}
.column .results .followup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.column .results .result {
  min-width: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.column .results .result .button {
  align-self: flex-start;
}
.column .results .result .result_time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.column .results .result .result_time .time {
  align-items: center;
  display: flex;
}
h2 {
  margin: 1rem;
}
/*# sourceMappingURL=node_viewer.css.map */