@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  background-color: rgb(39, 40, 41);
}

p {
  margin: 0;
}

a {
  cursor: pointer;
  color: rgb(19, 57, 128);
}

h1 {
  margin: 0.5rem;
}

label {
  margin-right: 0.5rem;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
  align-items: center;
  background-color: coral;
  padding: 0.5rem 2rem;
}

#search {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#search .selector {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 10rem;
}

#main {
  flex: 1;
  position: relative;
  min-height: 0;
  display: flex;
}

#graph_container, #loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5vw;
}

.vis-network {
  outline:none;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 0.3rem 0;
}

.subtitle {
  font-weight: bold;
  margin: 0.6rem 0.6rem 0.6rem 0;
  font-size: 1rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item > * {
  flex-grow: 1;
  flex-basis: 0;
}

.item .button {
  min-width: 6rem;
  flex: none;
  font-size: 0.8rem;
  margin: 0.2rem;
}

.followup {
  display: flex;
  margin: 0.2rem 0;
  flex: 0;
}

.followup .foldout {
  width: 1rem;
  flex: none;
}

.followup .button {
  margin: 0 0 0 0.4rem;
}

.followup .foldout::after {
  content: '-';
}

.followup .foldout.disabled::after {
  content: '+';
}

.result {
  margin: 0.3rem 0 0.3rem 0.5rem;
}

.item .text {
  margin-right: 0.4rem;
}

.item .text:last-child {
  margin: 0;
}

.targets {
  margin-top: 0.4rem;
  font-size: 0.8rem;
}

.section {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 0.5rem;
}

.button, .foldout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  border: 2px solid orangered;
  text-align: center;
}

.button {
  padding: 0.5rem;
  margin: 0.2rem 0 0.2rem 1rem;
}

.button.disabled, .foldout.disabled {
  background-color: lightgray;
}

.loading {
  background-color: gray;
  cursor: auto;
}

.checkboxes {
  position: relative;
}

.checkboxes option {
  display: none;
}

.states {
  position: absolute;
  background-color: white;
  z-index: 2;
  top: 100%;
  width: 100%;
}

.tabs {
  display: flex;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  background-color: coral;
}

.tab {
  padding: 1rem;
  cursor: pointer;
  border-radius: 1rem 1rem 0 0;
}

.tab:first-child {
  border-radius: 0 1rem 0 0;
}

.tabs_title {
  margin-left: auto;
  min-width: 0;
  display: flex;
}

.tabs_title .content {
  padding: 1rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-left: 1rem;
  background-color: rgb(255, 171, 140);
  font-weight: bold;
  font-size: 1rem;
}

.tab.selected {
  background-color: rgb(255, 171, 140);
  font-weight: bold;
}

#selection {
  margin-left: auto;
  width: min(40%, 500px);
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 171, 140);
  z-index: 1;
}

.selection_panel {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.scroll_container {
  min-height: 0;
}

.scroll {
  overflow-y: auto;
  background-color: coral;
  min-height: 10rem;
}

.scroll_item {
  margin: 0.5rem;
}

.collapse {
  height: 1.5rem;
  padding: 0.3rem;
  flex: 0;
  cursor: pointer;
  transform: rotate(180deg);
}

.result_header {
  font-weight: bold;
}

.collapse.folded {
  transform: none;
}

#commands {
  margin-right: auto;
  width: min(40%, 400px);
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 171, 140);
  z-index: 1;
}

#commands.folded {
  align-self: flex-start;
}

#tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(255, 171, 140);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid coral;
  z-index: 100;
  transform: translate(-50%, 0);
}