@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  background-color: rgb(39, 40, 41);
}

p {
  margin: 0;
}

h1 {
  margin: 0.5rem;
}

label {
  margin-right: 0.5rem;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#top {
  display: flex;
  align-items: center;
  background-color: coral;
  padding: 0.5rem 2rem;
}

#search {
  margin: 0 1rem;
  display: flex;
  align-items: center;
}

#search .selector {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  min-width: 10rem;
}

#main {
  flex: 1;
  position: relative;
  min-height: 0;
  display: flex;
}

#graph_container, #loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5vw;
}

.vis-network {
  outline:none;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.subtitle {
  font-weight: bold;
  margin: 0.6rem 0;
  font-size: 1rem;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item .button {
  width: 6rem;
  flex: none;
  font-size: 0.8rem;
  margin: 0.2rem;
}

.targets {
  margin-top: 0.4rem;
  font-size: 0.8rem;
}

.section {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.divider {
  height: 0.5rem;
}

.button {
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
  border: 2px solid orangered;
  padding: 0.5rem;
  margin-left: 1rem;
  text-align: center;
}

.button.disabled {
  background-color: gray;
}

.checkboxes {
  position: relative;
}

.checkboxes option {
  display: none;
}

.states {
  position: absolute;
  background-color: white;
  z-index: 2;
  top: 100%;
  width: 100%;
}

.tabs {
  display: flex;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  background-color: coral;
}

.tab {
  margin-right: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.tab.selected {
  background-color: rgb(255, 171, 140);
  font-weight: bold;
}

#selection {
  margin-left: auto;
  width: min(40%, 500px);
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 171, 140);
  z-index: 1;
}

.selection_panel {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.scroll_container {
  min-height: 0;
}

.scroll {
  overflow-y: auto;
  background-color: coral;
}

.scroll_item {
  margin: 0.5rem;
}

#commands {
  margin-right: auto;
  width: min(40%, 400px);
  min-height: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 171, 140);
  z-index: 1;
}

#tooltip {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: rgb(255, 171, 140);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  border: 2px solid coral;
  z-index: 100;
}