#left_panel
  grid-row: 2
  grid-column: 1
  min-height: 0
  display: flex
  flex-direction: column
  &.panel
    z-index: 1
  #left_panel_controls
    margin-top: auto
    display: flex
    justify-content: space-evenly
    padding: 1rem 0
    background-color: panel_color
    z-index: 1
  .command_title
    min-height: 3rem
    h3
      text-align: left
  .history_title
    display: flex
    align-items: center
    gap: 0.5rem
    .history_controls
      display: flex
  .scan_actions
    ul
      padding: 0
      li
        list-style: none
        padding: 0.5rem 0.5rem 0.5rem 1.5rem

