#review
  grid-column: 1 / 4
  grid-row: 1 / 3
  display: flex
  justify-content: center
  align-items: stretch
  z-index: 20
  background-color: alpha(background_color, 0.8)
  padding: 0 4rem
  .panel
    display: flex
    flex-direction: column
    padding: 2rem
    width: 800px
    .header
      display: flex
      gap: 0.5em
    .buttons
      display: flex
      padding: 1rem
      gap: 1rem
      justify-content: center
      flex-wrap: wrap
    .tooltip
      transform: translate(-50%, var(--review-scroll-height, 0))