#selection
  grid-row: 2
  grid-column: 3
  z-index: 1
  min-height: 0
  display: flex
  flex-direction: column
  .tab_bar
    background-color: button_background_color
    display: flex
    .tabs
      display: flex
      margin: 1rem 1rem 0 1rem
      .tab
        padding: 1rem
        cursor: pointer
        background-color: inner_panel_color
        font-size: h3_font_size
      .selected
        background-color: panel_color
    .tabs_title
      display: flex
      align-items: center
      min-width: 0
      font-weight: 600
      font-size: h3_font_size
      flex: 1
      .text
        overflow-x: hidden
        text-overflow: ellipsis
        white-space: nowrap
  .results
    min-width: 0
    .followup
      display: flex
      align-items: center
      gap: 0.5rem
    .result
      min-width: 0
      padding: 1rem
      display: flex
      flex-direction: column
      align-items: flex-start
      gap: 0.7rem
      .result_time
        display: flex
        align-items: center
        gap: 0.5rem
        .time
          align-items: center
          display: flex