#selection
  grid-row: 2
  grid-column: 3
  z-index: 1
  min-height: 0
  display: flex
  flex-direction: column
  .tab_bar
    background-color: button_background_color
    display: flex
    .tabs
      display: flex
      margin: 1rem 1rem 0 1rem
      .tab
        padding: 1rem
        cursor: pointer
        background-color: inner_panel_color
        font-size: h3_font_size
      .selected
        background-color: panel_color
    .tabs_title
      display: flex
      align-items: center
      min-width: 0
      font-weight: 600
      flex: 1
      .text
        overflow-x: hidden
        text-overflow: ellipsis
        white-space: nowrap