#top
  grid-column: 1 / 4
  grid-row: 1
  display: flex
  align-items: center
  justify-content: center
  padding: 1rem 2rem
  gap: 1rem
  flex-wrap: wrap
  min-height: 0
  #search
    display: flex
    flex-wrap: wrap
    align-items: flex-start
    margin: 0 auto
    gap: 1rem
    .selector
      display: flex
      flex-direction: column
      gap: 0.3rem
      min-width: 10rem
    .checkboxes
      position: relative
      .dropdown
        display: flex
        justify-content: space-between
        align-items: center
        dropdown()
        .fas
          font-size: 0.7rem
      .states
        position: absolute
        z-index: 2
        top: 100%
        width: 100%
        background-color: alt_background_color
        color: alt_font_color
      option
        display: none
  .buttons
    display: flex
    flex-wrap: wrap
    align-items: center
    gap: 1rem